<div class="root-container">

    <div class="control-panel">
        <span>Points</span>

        <form class="add-point-form" (ngSubmit)="newPointForm.valid && addPoint()" [formGroup]="newPointForm">
            <div class="coordinates">
                <mat-form-field>
                    <mat-label>X coordinate</mat-label>
                    <input matInput formControlName="x" type="number" required/>
                    <mat-error *ngIf="newPointForm.controls.x.errors?.required">
                        Value required
                    </mat-error>
                    <mat-error *ngIf="newPointForm.controls.x.errors?.min">
                        Can't be less than -10000
                    </mat-error>
                    <mat-error *ngIf="newPointForm.controls.x.errors?.max">
                        Can't be more than 10000
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Y coordinate</mat-label>
                    <input matInput formControlName="y" type="number" required/>
                    <mat-error *ngIf="newPointForm.controls.y.errors?.required">
                        Value required
                    </mat-error>
                    <mat-error *ngIf="newPointForm.controls.y.errors?.min">
                        Can't be less than -10000
                    </mat-error>
                    <mat-error *ngIf="newPointForm.controls.y.errors?.max">
                        Can't be more than 10000
                    </mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" type="submit">Add</button>

        </form>

        <button mat-raised-button color="warn" (click)="deletePoint()">Delete selected point</button>

        <div class="point-list-squares">
            <span>Squares</span>

            <div class="options">
                <button mat-raised-button color="primary" (click)="findSquares()">Find squares</button>
            </div>

            <div class="table-container">
                <table mat-table [dataSource]="pointSquareSource">

                    <ng-container matColumnDef="x">
                        <mat-header-cell *matHeaderCellDef>X coordinates</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.x}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="y">
                        <mat-header-cell *matHeaderCellDef>Y coordinates</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.y}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </table>
            </div>
            <mat-paginator [pageSize]="squaresPageSize" [pageIndex]="squaresPageIndex"
                           [pageSizeOptions]="[5, 10, 20, 50]"
                           [showFirstLastButtons]="true" [length]="squarePointsCount"
                           (page)="handlePointSquaresPage($event)">
            </mat-paginator>
        </div>
    </div>

    <div class="point-viewer">
        <div class="table-container">
            <table mat-table [dataSource]="pointSource">

                <ng-container matColumnDef="x">
                    <mat-header-cell *matHeaderCellDef>X coordinates</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.x}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="y">
                    <mat-header-cell *matHeaderCellDef>Y coordinates</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.y}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="point-row"
                         (click)="selectPoint(row)">
                </mat-row>
            </table>
        </div>
        <mat-paginator [pageSize]="pointPageSize" [pageIndex]="pointPageIndex" [pageSizeOptions]="[5, 10, 20, 50]"
                       [showFirstLastButtons]="true" [length]="pointCount" (page)="handlePointPage($event)">
        </mat-paginator>
    </div>

    <div class="point-list-manager">
        <span>Point list</span>
        <div class="options">
            <input hidden type="file" #uploader (change)="upload($event)"/>
            <button mat-raised-button color="primary" (click)="uploader.click()">Upload</button>
            <button mat-raised-button color="primary" (click)="download()">Download</button>
            <button mat-raised-button color="warn" (click)="clearPoints()">Clear points</button>
        </div>

        <div class="options">
            <button mat-raised-button color="primary" (click)="createList()">Create list</button>
            <button mat-raised-button color="primary" (click)="renameList()">Rename list</button>
            <button mat-raised-button color="warn" (click)="deleteList()">Delete selected list</button>
        </div>

        <div class="point-lists">
            <button mat-button *ngFor="let pointList of pointLists" (click)="selectPointList(pointList)">
                {{pointList.name}}
            </button>
        </div>

    </div>

</div>
